@import url(http://fonts.googleapis.com/css?family=Esteban);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style:none;
}

::-moz-selection {
    background: #62D6F8;
    text-shadow: none;
}

::selection {
    background: #62D6F8;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* =======================================================
  GENERAL
======================================================== */

html,
body{
    height:100%;
}

body {
    font: 16px/26px "Montserrat", Helvetica, Arial, sans-serif;
    width: 100%;
}

p, li, h4 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

p {
    font-family: "Esteban", Georgia, "Times New Roman", serif;
    font-size: 26px;
    line-height: 1.35em;
    margin: 0 auto;
    max-width: 780px;
    text-align: center;
}

li {
    font-size: 1em;
    line-height: 1.875em;
    letter-spacing: .02em;
}


h1, h2, h3 {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 50px;

    line-height: 1.2em;
    text-align: center;
}

h1 {
    color: #3D4653;
        text-transform: uppercase;
        font-size: 40px;
}

h2 {
    color: white;
    display: table;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 0 auto 20px auto;
    width: auto;
    letter-spacing: -0.05em;
    font-weight: 700;
}

h3 {
    font-size: 1.125em;
}

h4 {
    font-style: italic;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none!important;
}

@media all and (max-width: 600px) {
    p {
        font-size: 1em;
        line-height: 1.75em;
    }
}





/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}




/* ==========================================================================
   WIDE: Header
   ========================================================================== */

    .header-container {
        width: 100%;
        min-height:100%; position:relative;

    }

.lead{
	color: #3D4653;
	display: block;
	font-family: "Esteban", Georgia, "Times New Roman", serif;
	font-size: 26px;
	text-transform: none;
	margin-bottom: 0px;
	font-weight: normal;
}

#whoiam h2{
	font-size: 55px;
}

#whoiam p{
	margin-bottom: 55px;
}

#contact h2{
	font-size: 55px;
}

#work h2{
	font-size: 55px;
	
}

#services1 h2{
	font-size: 55px;
	
}

    .header {
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%;

    }

#logo-group {
    width: 800px;
height: 300px;
position: absolute;
top: 48.88852%;
left: 50%;
margin-top: -330px;
margin-left: -400px;
}

        #logo {
            float: left;
            margin: 0 auto;
            z-index: 999;
            position: relative;
            clear: both;
            width: 100%;
            text-align: center;
            top: 15%;
        }

        #logo img {
            width: 305px;
            text-align: center;
            max-width: 50%;
            position: relative;
            min-width:200px;
        }

.header-type {
    float: left;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 99;
    top: 20%;
}



@media all and (max-width: 770px) {

#logo-group {
    margin-top: -32%;
    width: 90%;
    margin-left: -45%;
}

}

@media all and (max-width: 500px) {
	#logo-group h1 .lead{
		font-size: 20px;
	}
	#logo-group h1{
		font-size: 40px;
	}
}

/* ============
    WIDE: Menu
   ============ */



#nav {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 99;
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    z-index: 9999;
}


        #nav ul {
            width: 100%;
            float:left;
            text-align: center;
            height: 90px;
            position: relative;
            margin-top: 0;

        }

        #nav ul li {
            display: inline-block;
            margin-top: 2em;

        }

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8125em;
    letter-spacing: .15em;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    padding: 2em;
}

#nav-mobile {
    display: none;
}

/*************/


@media all and (max-width: 770px) {



        #nav {
            display: none;
        }

        #nav-carat {
            display: inline;
            float: right;
            margin-top:0px;
        }

        #nav-mobile-button-container {
            width: 100%;
            top: 0px;
            position: fixed;
            display: block;

        }

        #nav-mobile-button {
            position: relative;
            background-color: #fff;
            display: block;
            border-bottom: 1px solid #d3d3d3;
            cursor: default;
        }

        #nav-mobile {
            display: block;
            width: 100%;
            height: auto;
            position: fixed;
            z-index: 99;
            display: block;
            float: left;
            text-align: center;
            z-index: 9999;
            margin-top: 45px;

        }

                #nav-mobile-ul {
                    display: none;
                    width: 100%;
                    float:left;
                    text-align: center;
                    position: relative;
                    background-color: #f2f2f1;
                }

                #nav-mobile ul li:first-child {
                                border-top: 1px solid #d3d3d3;

                }

                #nav-mobile ul li {
                    display: block;
                    padding: .5em 0;
                    width: 100%;
                    cursor: pointer;
                    border-bottom: 1px solid #d3d3d3;

                      -webkit-transition: background-color 300ms linear;
                    -moz-transition: background-color 300ms linear;
                    -o-transition: background-color 300ms linear;
                    -ms-transition: background-color 300ms linear;
                    transition: background-color 300ms linear;


                }

                        #nav-mobile ul li:hover {
                            background-color: white;
                        -webkit-transition: background-color 300ms linear;
                        -moz-transition: background-color 300ms linear;
                        -o-transition: background-color 300ms linear;
                        -ms-transition: background-color 300ms linear;
                        transition: background-color 300ms linear;

                        }

                #nav-mobile a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: .8125em;
                    letter-spacing: .15em;
                    font-family: "Montserrat", Helvetica, Arial, sans-serif;
                    padding: 1em;
                    color: #222;
                }

                #nav-mobile li a.active {
                    color: #062D6F8;

                }

}



/******* Nav BG Color Fade *******/
#sticker {
    background-color:rgba(255,255,255,0);
    -webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
}

#sticker.scrolled {
    background-color:#fff;
        //border-bottom: 1px solid #d3d3d3;
}



/******* Nav Font Color Fade *******/
.nav-item {
    color: #8A8A8A;
    -webkit-transition: color 700ms linear;
    -moz-transition: color 700ms linear;
    -o-transition: color 700ms linear;
    -ms-transition: color 700ms linear;
    transition: color 700ms linear;
}

.nav-item.scrolled {
    color: black;
}

.nav-item:hover {
        color: #62D6F8;

}

.nav-item:active {
   }

.nav-item:visited {

}

.navhide{
	visibility: hidden;
}

.navshow{
	visibility: visible;
}


/******* plugins.js "smooth scroll and active nav" *******/
.nav-item.scrolled.nav-active {
    color: #62D6F8;
    border: none;

    }


/* ============
    WIDE: Main
   ============ */



.main {
    margin-bottom: -30px;
}

.scroll {
    text-align: center;
    width: 100%;
    padding: 170px 0;
    margin: 0 auto;
    overflow: auto;
     }

.main p {
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10%;
}



@media all and (max-width: 770px) {
    .scroll {
        padding: 60px 0;
    }

    .main p {
        padding: 0 5%;
    }

    .main h2+p {
        margin-top: 60px;
    }
}

.hide {
    opacity: .3;
}


/******* Main BG colors *******/

#whoiam {
    background-color: #62D6F8; 
}

#work, #about {
    background-color: #ffffff;
}

/******* WHY *******/

.why-cols {
    padding: 0 2%;
    padding-top: 100px;
    max-width: 940px;
    margin: 0 auto;
}

#why ul {
    vertical-align: top;
    display: inline-block;
    width: 25%;
    margin: 0 4%;
}

#why li {
    text-transform: uppercase;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .15em;
    color: #62D6F8;
    font-size: .8125em;
    line-height: 2.5em;
}

    #why .col2-layout {
        display: none;
    }


@media all and (max-width: 940px) {

        .why-cols {

        }

            #why .col3-layout {
                display: none;
            }

            #why .col2-layout {
                display: inline;
            }

        #why ul {
            vertical-align: top;
            display: inline-block;
            width: 45%;
            margin: 0 0%;
            padding-top: 100px;
        }



        }

@media all and (max-width: 600px) {
            #why li {
                font-size: .7em;
            }

            #why ul {
                padding-top: 50px;
            }
        }


/******* SERVICES *******/

.services-cols {
    margin-top: 60px;
    float: left;
    width: 100%;
    text-align: center;
}

.services-cols .col {
    text-align: left;
    display: inline-block;
    margin: 0 40px;
    vertical-align: top;
}

.col2-layout {
    display: none;
}

/****** SERVICES Media Queries *******/

@media screen and (max-width: 1200px) {

        .col4-layout {
            display: none;
        }

        #services .col2-layout {
            display: inline;
        }

        #services .col2-layout section:last-of-type {
            margin-top: 20px;
        }

        #services .col2-layout>.col {
            width: 300px;
            margin: 0 10px;
        }
}

@media screen and (max-width: 940px) {

            #services .col2-layout>.col {
            vertical-align: top;
            display: inline-block;
            width: 45%;
            margin: 0 0%;
            padding-top: 0px;
        }

        #services li {
            line-height: 1.25em;
            padding: .3em 0;
        }
}

@media screen and (max-width: 400px) {
        .services-cols .col {
            text-align: left;
            display: inline-block;
            margin: 0 10px;
            vertical-align: top;
        }
}

/******* PROCESS *******/
/***********************/

#process-list > * {


}

.process-text p, .process-text h3 {
    text-align: left;
    margin: 0;
    padding: 0;
}

.process-text h3 {
    font-family: "freight-big-pro";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.625em;
    line-height: 2.625em;
    letter-spacing: 0;
    color: #62D6F8;
    padding-top: 2px;
}

.process-text p {
    
}

.process-text {
    border-left: 2px solid #62D6F8;
    padding-left: 160px;
    margin-top: -40px;
    padding-bottom: 180px;
    margin-left: -25px;
    max-width: 640px;
    width: 45%;

}

#process-list {
    text-align: center;
    padding-top: 170px;

}

@media all and (max-width: 600px) {
    .process-text {
        padding-left: 80px;
        padding-bottom: 80px;
    }

    #process-list {
        padding-top: 80px;
    }

    .process-text h3 {
        font-size: 2em;
        line-height: 3.5em;
    }

}

@media all and (max-width: 400px) {
    .process-text {
        padding-left: 60px;
        padding-bottom: 60px;
    }

    #process-list {
        padding-top: 60px;
    }

    .process-text h3 {
        font-size: 2em;
        line-height: 3.5em;
    }

}

.process-list-item {
    overflow: auto;
    margin: 0 auto;
    float: left;
    width: 100%;
}

.process-list-item .item {
    display: inline-block;
    vertical-align: top;
}

.numbers {
}

.numbers p {
    padding: 0;
    border-radius: 100%;
    background-color: #62D6F8;
    width: 42px;
    height: 42px;
    font-size: 1.5em;
    line-height: 1.6em;
    color: white;
    position: relative;
    z-index: 99;
    text-align: center!important;
}

#three p, #four p {
    line-height: 1.4em;
}

#process-launch .process-text {
    border: none;
    padding-bottom: 0px;
}

/******* PROCESS media queries *******/

@media screen and (max-width: 1200px) {}


/******* ABOUT *******/
/***********************/


#about img {
    width: 100%;
    max-width: 1200px;
    padding-bottom: 60px;
}

#about {
}


/******* BLOG *******/
/***********************/

#blog {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #f2f2f1;
    background-image: url(../img/blog2.png);
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
    background-repeat: no-repeat;
    margin-bottom: -10px!important;

}

.blog-content {
    max-width: 500px;
    float: right;
    text-align: left;
    margin-left: 50%;
    margin-right: 12%;
}





.blog-content h2, .blog-content p {
    margin: 0;
    padding: 0;
    text-align: left;
}

.blog-content h2 {
    line-height: 1em;
}





.button {
    margin-top: 60px;
    width: 295px;
    border: 3px solid #FAE90C;
    cursor: pointer;
    -webkit-transition: 300ms linear;
    -moz-transition: 300ms linear;
    -o-transition: 300ms linear;
    -ms-transition:  300ms linear;
    transition:  300ms linear;

}

.button:hover {
    background-color: #62D6F8;
    -webkit-transition: 300ms linear;
    -moz-transition: 300ms linear;
    -o-transition: 300ms linear;
    -ms-transition:  300ms linear;
    transition:  300ms linear;
}

.button h3 {
    text-align: center;
    padding: 20px;
    color: #FAE90C;
    margin: 0;
    -webkit-transition: 300ms linear;
    -moz-transition: 300ms linear;
    -o-transition: 300ms linear;
    -ms-transition:  300ms linear;
    transition:  300ms linear;
}

.button h3:hover {
    color: #f2f2f1;
    -webkit-transition: 300ms linear;
    -moz-transition: 300ms linear;
    -o-transition: 300ms linear;
    -ms-transition:  300ms linear;
    transition:  300ms linear;

}

        @media all and (max-width: 640px) {
            .blog-content h2, .blog-content p {
            margin: 0;
            padding: 0 5%;
            text-align: center;
        }

            .button {
                margin: 0 auto;
                    margin-top: 60px;
                    max-width: 80%;

            }

            #blog {
                background-image: none;
            }

            .blog-content {
                max-width: 100%;
                float: left;
                text-align: center;
                margin-left: 0;
                margin-right: 0;
}
        }

/******* CONTACT *******/
/***********************/

#contact {
    background-color: #ffffff;
    color: #1D1D1F;
}

#contact h2, #contact h3, #contact p {
    color: #1D1D1F;
}

#contact p{
	margin-bottom: 50px;
}

#contact a {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: #62D6F8;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-size: 50px;

}

#contact a:hover{
	color: #777777;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 500px) {
	#work h2, #contact h2 {
		font-size: 35px;
	}
	#whoiam h2{
			font-size: 45px;
	}
}



@media screen and (max-width: 700px) {
	#contact a{
		font-size: 30px;
		}
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


#work {
  position: relative;
  overflow: hidden;
  background: #333333;
  background-size: cover;
  background-attachment: fixed;
}
#work * {
  -webkit-backface-visibility: hidden;
}
#work .thumbnails {
  margin: 0 auto;
  opacity: 1;
  margin-top: 0px;
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  backface-visibility: visible;
}
#work .thumbnails:after {
  display: table;
  content: "";
  clear: both;
}
#work .thumbnails:hover a {
  opacity: .4;
}
#work .thumbnails:hover a:hover {
  opacity: 1;
}
#work .thumbnails a {
  display: block;
  float: left;
  position: relative;
  width: 25%;
  padding: 0;
  line-height: 0;
}
@media screen and (max-width: 900px) {
  #work .thumbnails a {
    width: 50%;
  }
}

#work .thumbnails a img {
  width: 100%;
}

#work .thumbnails a a {
  display: block;
}

#work .thumbnails a a:hover {
  background: #62D6F8;
}

#work .thumbnails a a:hover img {
  opacity: 0;
}

#work .work-detail {
  padding: 0 20px 20px 20px;
  top: 200px;
  opacity: 0;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  -webkit-transition: opacity linear 600ms;
  transition: opacity linear 600ms;
  display: none;
}
@media screen and (max-width: 700px) {
  #work .work-detail {
    padding: 10px;
  }
}

#work .work-detail .wrapper {
  max-width: 1000px;
}
@media screen and (max-width: 700px) {
  #work .work-detail .wrapper {
    padding: 10px;
  }
}
#work .work-detail .detail-controls {
  list-style-type: none;
  margin: 40px auto;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 700px) {
  #work .work-detail .detail-controls {
    margin: 0px auto 40px auto;
  }
}
#work .work-detail .detail-controls li {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
}
#work .work-detail .detail-controls li:first-child {
  border: none;
}
#work .work-detail .detail-controls li .close {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  padding: 0 10px;
  height: 40px;
}
#work .work-detail .detail-controls li .close:hover svg polygon {
  fill: rgba(255, 204, 51, 0.5);
}
#work .work-detail .detail-controls li .close svg {
  margin: 6px 5px 4px 5px;
  width: 25px;
}
#work .work-detail .detail-controls li .close svg polygon {
  fill: #62D6F8;
}
#work .work-detail .detail-controls li a {
  color: #62D6F8;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-bottom: 5px;
  display: table;
}
#work .work-detail .detail-controls li a:hover {
  color: rgba(255, 204, 51, 0.5);
}
#work .work-detail h2 {
  color: #ffffff;
  font-size: 36px;
  line-height: 39px;
  text-transform: none;
  padding-top: 20px;
}
#work .work-detail p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 auto 40px auto;
  max-width: 550px;
}
#work .work-detail #loading {
  background: url(../img/loading.gif) center no-repeat;
  width: 100%;
  height: 100%;
}
#work .work-detail .images .credit {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 70px;
  line-height: 18px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}
#work .work-detail .images .credit a {
  color: #62D6F8;
}
#work .work-detail .images img {
  width: 100%;
  opacity: 0;
}
#work.detail-open {
  -webkit-transform: none;
}
#work.detail-open .work-detail {
  display: block;
  background: #1d1d1f;
  display: block;
  opacity: 1;
  z-index: 5;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity linear 500ms;
  transition: opacity linear 500ms;
  z-index: 999;
  overflow: scroll;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  -webkit-animation: fadeScaleIn 250ms ease-in;
  animation: fadeScaleIn 250ms ease-in;
  line-height: 0;
}
#work.detail-open .work-detail .images {
  margin-top: 100px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-animation: fadeIn 500ms 250ms;
  -webkit-animation-fill-mode: backwards;
  animation: fadeIn 500ms 250ms;
  animation-fill-mode: backwards;
}
#work.detail-open .work-detail .images img {
  opacity: 1;
  margin: 0 auto;
  line-height: 0;
}
#work.detail-open .work-detail .detail-controls {
  -webkit-animation: fadeIn 500ms 250ms;
  -webkit-animation-fill-mode: backwards;
  animation: fadeIn 500ms 250ms;
  animation-fill-mode: backwards;
}
#work.detail-open .work-detail h2 {
  -webkit-animation: fadeIn 500ms 250ms;
  -webkit-animation-fill-mode: backwards;
  animation: fadeIn 500ms 250ms;
  animation-fill-mode: backwards;
}
#work.detail-open .work-detail p {
  -webkit-animation: fadeIn 500ms 250ms;
  -webkit-animation-fill-mode: backwards;
  animation: fadeIn 500ms 250ms;
  animation-fill-mode: backwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeScaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@keyframes fadeScaleIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

body.modal-open {
  overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	margin-top: 30px;
}

#end{
	background-color: #1D1D1F;
	color: #ffffff;
}

#end span{
	color: rgba(255, 255, 255, 0.3);
}

.wrap {
	text-align: center;
	width: 100%;
	padding: 80px 0;
	margin: 0 auto;
	overflow: hidden;
}
